*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*----------------Home Components----------------------*/

.AdbarLeft{
  clip-path: polygon(0 0,70% 0%,100% 100%, 0% 100%);
  width: 305px;
  display: relative;
}

.AdbarRight{
  clip-path: polygon(0 0,69.5% 0%,100% 100%, 0% 100%);
  width: 300px;
  display: absolute;
  z-index: 20;
}


/*--------------DailyDealsItem Components----------------*/

.Itemprogress{
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-top: 10px;
}
.Itemprogress span {
  color: #FF2164;
}

.Progressbar{
  width: 100%;
  height: 4%;
  background-color: #FF2164;
  border-radius: 10px;
  margin-top: 5px;
}
.DTC1{
  font-size: 30px;
  font-weight: 500;
  margin-top: 10px;
}
.OfferEnds{
  color: #8E8E8E;
  font-size: 20px;
  margin-top: 2px;
}

.Counter{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #E4E4E4;
  height: 68%;
  width: 100%;
}

/* Main Slider */

.slideItem{
  background-color: #fff;
  /* width: 100%;
  height: 100%; */
  border-radius: 5px;
}

/* Detailed Page Product counter */
.item-counter{
  display: flex;
  /* text-transform: ; */
  flex-direction: row;
  justify-content: space-evenly;
  color: #333;
  height: 30px;
  width: 120px;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  cursor: pointer;
  /* margin: 0 auto; */

}

.register_container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.login_height{
  height: 50vh;
  width: 32vw;
  padding: 2rem 0;
}

.buttons{
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  border-bottom: 2px solid #fff;

}

.btn_underline{
  border-bottom: 2px solid #ff6e26;
  color: #ff6e26;
}

.form{
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 100%;
  padding: 0 2rem;
  margin-top: 1rem;
}

.form_control input{
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}


.form_control{
  border: 1px solid #ebebeb;
  width: 100%;
  height: 2.5rem;
  margin: 0.5rem 0;
  border-radius: 4px;
  padding: 0.5rem;
  position: relative;
  
}

.form_control:hover{
border: 1px solid #ccc;
}

.eyeicon{
  position: absolute;
  top: 10px;
  right: 5px;
  font-size: 11px;
  size: 11px;
  cursor: pointer;
  color: #ccc
}

.submit{
  height: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  background: linear-gradient(270deg,#ff4733,#ff6e26);
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
}

.forgotten{
  color: #999;
  text-decoration: none;
  margin-left: 1.7rem;
  font-size: 13px;
  display: inline-block;
}

.forgotten:hover{
  color: #ff6e26
}

.access{
  font-size: 1rem;
  color: #999;
  margin-top: 2rem;
}

.gift_text{
  font-size: 12px;
  margin: auto;
  background-color: #fff5e6;
  margin: 0 3rem;
  padding: 0.25rem;
  border-radius: 4px;
  color: #ff6e26;
  margin-top: 0.5rem;
}
.small_text{
  font-size: 12px ;
  color: #999;
  margin-left: 5px;
  /* text-decoration: none; */
}

.small_text:hover{
  color: #999;
}


@media (max-width: 576px) {
 .login_height{
  width: 100vw;
 }

 .left{
  width: 100%;
 }
 .right{
  width: 100vw;
  height: 30rem;
 }
}

.tick{
  line-height: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}
