*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*----------------Home Components----------------------*/

.AdbarLeft{
  clip-path: polygon(0 0,70% 0%,100% 100%, 0% 100%);
  width: 305px;
  display: relative;
}

.AdbarRight{
  clip-path: polygon(0 0,69.5% 0%,100% 100%, 0% 100%);
  width: 300px;
  display: absolute;
  z-index: 20;
}


/*--------------DailyDealsItem Components----------------*/

.Itemprogress{
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-top: 10px;
}
.Itemprogress span {
  color: #FF2164;
}

.Progressbar{
  width: 100%;
  height: 4%;
  background-color: #FF2164;
  border-radius: 10px;
  margin-top: 5px;
}
.DTC1{
  font-size: 30px;
  font-weight: 500;
  margin-top: 10px;
}
.OfferEnds{
  color: #8E8E8E;
  font-size: 20px;
  margin-top: 2px;
}

.Counter{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #E4E4E4;
  height: 68%;
  width: 100%;
}

/* Main Slider */

.slideItem{
  background-color: #fff;
  /* width: 100%;
  height: 100%; */
  border-radius: 5px;
}

/* Detailed Page Product counter */
.item-counter{
  display: flex;
  /* text-transform: ; */
  flex-direction: row;
  justify-content: space-evenly;
  color: #333;
  height: 30px;
  width: 120px;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  cursor: pointer;
  /* margin: 0 auto; */

}

.register_container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.login_height{
  width: 50rem;
  height: 30rem
}

.login_height .left{
  background-image: url(./assets/loginbg.svg);
  height: 30rem;
  background-size: cover;
  position: relative;
}

.text{
  font-size: 1.2rem;
  color: #fff;
  margin-top: 3rem;
}

.cart{
  position: absolute;
  right: -6rem;
  bottom: 0;
}


.signup, .signin{
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  background-color: #fff;
  font-size: 12px;
  font-weight: 600;
  color: rgba(0, 0, 0, .7);
  margin: 0 1rem;
  /* border-radius: 5px; */
}

.signin:focus{
  color: #FF2164;
  border-top: 2px solid #FF2164;
}
.signup:focus{
  color: #FF2164;
  border-top: 2px solid #FF2164;
}
.right{
  position: relative;

}

.right h3{
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.right p{
  font-size: 10px;
  text-align: center;
}

.header{
  line-height: 0.5em;
}
.form{
  display: flex;
  justify-content: start;
  align-items: center;
}
input{
  border: none;
}
input:focus{
  outline: none;
}
input::placeholder{
  font-size: 10px;
}
.form_control{
  border: 0.5px solid rgba(0, 0, 0, .7);
  position: relative;
  margin-bottom: 0.5rem;
  padding: 0.2rem 1rem;
  border-radius: 4px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 12px;
}

.icons{
  color: rgba(0, 0, 0, .5);
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.submit{
  background-color: #FF2164;
  color: #fff;
  font-size: 0.6rem;
  width: 50%;
  border-radius: 4px;
  padding: 0.2rem 0;
  margin-top: 1rem;
}
.line{
  height: 0.5px;
  width: 2rem;
  background-color: rgba(0, 0, 0, .5);
 
}

.small_text{
  font-size: 8px;
  margin: 0 0.5rem;
}

.google_btn{
  border: none;
  background: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 20px rgba(255, 33, 100, 0.2);
  /* margin-top: 1rem; */
}
/* .line{
  height: 1px;
  width: 6rem;
  background-color: rgba(0, 0, 0, .7);
  position: absolute;
  transform: translateX(79%);
 margin-top: 0.3rem;
} */


@media (max-width: 576px) {
 .login_height{
  width: 100vw;
 }

 .left{
  width: 100%;
 }
 .right{
  width: 100vw;
  height: 30rem;
 }
}