*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*----------------Home Components----------------------*/

.AdbarLeft{
  clip-path: polygon(0 0,70% 0%,100% 100%, 0% 100%);
  width: 305px;
  display: relative;
}

.AdbarRight{
  clip-path: polygon(0 0,69.5% 0%,100% 100%, 0% 100%);
  width: 300px;
  display: absolute;
  z-index: 20;
}


/*--------------DailyDealsItem Components----------------*/

.Itemprogress{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 10px;
}
.Itemprogress span {
  color: #FF2164;
}

.Progressbar{
  width: 100%;
  height: 4%;
  background-color: #FF2164;
  border-radius: 10px;
  margin-top: 5px;
}
.DTC1{
  font-size: 30px;
  font-weight: 500;
  margin-top: 10px;
}
.OfferEnds{
  color: #8E8E8E;
  font-size: 20px;
  margin-top: 2px;
}

.Counter{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #E4E4E4;
  height: 68%;
  width: 100%;
}

/* Main Slider */

.slideItem{
  background-color: #fff;
  /* width: 100%;
  height: 100%; */
  border-radius: 5px;
}

/* Detailed Page Product counter */
.item-counter{
  display: flex;
  /* text-transform: ; */
  flex-direction: row;
  justify-content: space-evenly;
  color: #333;
  height: 30px;
  width: 120px;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  cursor: pointer;
  /* margin: 0 auto; */

}

.login_container{
  height: calc(100vh - 3.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon{
  width: 0.8rem;
  font-size: 11px;
}
input{
  font-size: 14px;
  text-indent: 0.25rem;
}

input:focus{
  outline: none;
}

input::placeholder{
  font-size: 10px;
 margin-bottom: 1rem;
}

.form_control{
  border: 1px solid #f4f4f4;
  padding: 0 0.25rem;
  border-radius: 4px;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 1.8rem;
  width: 100%;
}

/* .form_control:hover{
  outline: 1px solid #FF2164;
  transition: 0.4s all;
} */

.btn_signin{
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF2164;
  color: #fff;

  height: 1.5rem;
  border-radius: 3px;
  border: none;
}

.login_text{
  font-size: 0.8rem;
}

.small_text{
  font-size: 8px;
}

.small_text:hover{
  color: #FF2164;
}

.signup{
  text-decoration: none;
}

@media (max-width: 996px) {
  .login_container{
    height: 100%;
    margin: 5rem 0;
  }
  .form_container{
    width: 80%;
    height: 100%;
  }
}